@for (movie of movieService.movies(); track movie.id) {
  @if (movieId === movie.id) {
    <div class="mx-auto max-w-6xl px-4 py-4 space-y-4">
      <a
        class="block rounded-lg bg-white/5 px-6 py-4 transition hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <p class="text-lg font-semibold text-white">{{ movie.title }}</p>
        <p class="text-sm text-gray-400">Release date: {{ movie.release_date }}</p>
        <p class="text-sm text-gray-400">Genre: {{ movie.genresText }}</p>
        <p class="text-sm text-gray-400">Country: {{ movie.origin_country }}</p>
        <p class="text-sm text-gray-400">{{ movie.overview }}</p>
        <p class="text-sm text-gray-400">Runtime: {{ movie.runtime }}</p>
        <p class="text-sm text-gray-400">User score: {{ movie.vote_average }}</p>
      </a>
    </div>
  }
}
