<section
  class="flex flex-wrap justify-center gap-4 w-full xl:w-200 xl:h-280 px-4 py-4 rounded-lg bg-white/5 transition hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-blue-500 mt-6 xl:overflow-y-auto"
  aria-label="Movie crew"
>
  <figure
    class="basis-full text-center focus:outline-none focus:ring-2 focus:ring-blue-500 p-1 rounded"
    tabindex="0"
    role="group"
    [attr.aria-label]="crew().crewName + ', ' + crew().crewRole"
  >
    <img
      class="object-cover h-50 rounded mx-auto"
      [src]="crew().crewPic"
      [alt]="crew().crewName + ', ' + crew().crewRole"
    />
    <figcaption>
      <h3 class="text-sm text-gray-200 mt-2 font-semibold">{{ crew().crewName }}</h3>
      <p class="text-xs text-gray-400">{{ crew().crewRole }}</p>
    </figcaption>
  </figure>

  <div
    aria-label="Cast of actors"
    role="region"
    class="mt-6 w-full flex flex-wrap justify-center gap-4"
  >
    @for (actor of crew().cast; track actor.id) {
      @if (actor.pic) {
        <figure
          class="text-center focus:outline-none focus:ring-2 focus:ring-blue-500 p-1 rounded"
          tabindex="0"
          role="group"
          [attr.aria-label]="actor.name + ', ' + actor.character"
        >
          <img
            class="object-cover h-50 w-32 rounded mx-auto"
            [src]="actor.pic"
            [alt]="actor.name + ', ' + actor.character"
          />
          <figcaption>
            <h4 class="text-xs text-gray-200 mt-1 font-semibold w-32">{{ actor.name }}</h4>
            <p class="text-xs text-gray-400 wrap-break-word w-32">{{ actor.character }}</p>
          </figcaption>
        </figure>
      }
    }
  </div>
</section>
