<nav class="mb-6" aria-label="Main navigation">
  <div class="max-w-7xl mx-auto px-4">
    <ul class="flex flex-wrap justify-center gap-4 text-sm font-semibold uppercase tracking-widest">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="bg-white/10 ring-2 ring-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="px-6 py-4 min-w-30 text-center inline-flex items-center justify-center text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10"
        >
          Home
        </a>
      </li>

      <li>
        <a
          routerLink="/movies"
          routerLinkActive="bg-white/10 ring-2 ring-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="px-6 py-4 min-w-30 text-center inline-flex items-center justify-center text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10"
          aria-label="Go to Movies page"
        >
          Movies
        </a>
      </li>

      <li class="w-full flex justify-center gap-4 mt-2 xl:mt-0 xl:w-auto xl:flex-none">
        <a
          routerLink="/login"
          routerLinkActive="bg-white/10 ring-2 ring-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="px-6 py-4 min-w-30 text-center inline-flex items-center justify-center text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10"
          aria-label="Login"
        >
          LOGIN
        </a>
        <a
          routerLink="/register"
          routerLinkActive="bg-white/10 ring-2 ring-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="px-6 py-4 min-w-30 text-center inline-flex items-center justify-center text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10"
          aria-label="Register"
        >
          REGISTER
        </a>
      </li>
    </ul>
  </div>
</nav>
