<nav class="mb-6">
  <div class="max-w-7xl mx-auto px-4">
    <ul class="flex justify-center gap-4 text-sm font-semibold uppercase tracking-widest">
      <div class="flex gap-4">
        <li>
          <a
            routerLink="/home"
            routerLinkActive="bg-white/10 ring-2 ring-blue-500"
            class="px-6 py-4 inline-block text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Home
          </a>
        </li>

        <li>
          <a
            routerLink="/movies"
            routerLinkActive="bg-white/10 ring-2 ring-blue-500"
            class="px-6 py-4 inline-block text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Movies
          </a>
        </li>
      </div>

      <div class="flex gap-4">
        <li>
          <a
            class="px-6 py-4 inline-block text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Login
          </a>
        </li>
        <li>
          <a
            class="px-6 py-4 inline-block text-gray-400 hover:text-white rounded-lg bg-white/5 transition hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Register
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
